<h1><%= @friend_circle.name %></h1>
<h3>owned by: <%= @friend_circle.owner.username %></h3>

<ul>
	<% @friend_circle.members.each do |member| %>
		<li><%= member.username %></li>
	<% end %>
</ul>

<h3>Posts</h3>

<ul>
	<% @friend_circle.posts.each do |post| %>
		<li><%= link_to post.title, post_url(post) %></li>
	<% end %>
</ul>
<%= link_to "Edit Circle", edit_friend_circle_url %>
