<% action_url = (method == :post) ? users_url : user_url(@user) %>

<form action="<%= action_url %>" method="post" accept-charset="utf-8">
	<input
	    type="hidden"
	    name="_method"
	    value="<%= method %>">

	<input type="hidden"
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">

	<label for="user_username">Name</label>
	<input type="text"
				 name="user[username]"
				 value="<%= @user.username %>"
				 id="user_username">

 	<label for="user_password">Password</label>
 	<input type="password"
 				 name="user[password]"
 				 value="<%= @user.password %>"
 				 id="user_password">

	<p><input type="submit" value="<%= button_value %>"></p>
</form>